html {
  font-size: 125%;
}

.container-fullPage {
  height: 100vh;
}

i {
  color: black;
}

i:hover {
  color: blue;
  font-size: 110%;
  transition: 0.25s;
}

i:hover:active {
  color: black;
}

.small-box {
  background-color: lightgray;
  width: 400px;
  min-height: 400px;
}

.line-height-med {
  line-height: 2.5em;
}

.container-width-med {
  width: 25px;
}

.rotate {
  transform: rotate(-100deg);
}

.font-dela {
  font-family: "Dela Gothic One", cursive;
}

.font-monoton {
  font-family: "Monoton", cursive;
}
